{{#if Auth}}
    <div class="successAuth">
        <h1>Вы успешно авторизированы.</h1>
    </div>
{{else}}
    <div class="login-parent">
        <div class="form">
            <h1 class="log">Вход</h1>
            <input type="text" required id="Login" placeholder="Введите логин">
            <input type="password" required id="Password" placeholder="Введите пароль">
            <div id="Error"></div>
            <input type="submit" class="Login_button" id="button_login" value="Войти">
        </div>
    </div>
    <script src="/javascripts/login.js"></script>
{{/if}}