<h1>Пользователь: {{User}}</h1>

<div class="users_button">
    <a href="/logout" class="btn">Выход</a>
    <a href="{{User}}/admin" class="btn">Администрация</a>
    <a href="#" class="btn">Для Супер-пользователя</a>
</div>