/* Стили для шапки сайта */
.Input{
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 3.5vh;
    padding-right: 4vh;
    display: inline-block;
    float: right;
}

.Logo{
    font-family: 'Splash', cursive;
    font-size: 1.6rem;
    padding: 3vh;
    display: inline-block;
}

.Menu{
    background: #0c6b52;
    border-bottom: #7fada2 solid 0.15vh;
    position: fixed;
    width: 100%;
}

.Menu a{
    text-decoration: none;
    color: #7fada2;
}

.Logo a:hover{
    color: #7fada2;
}

.Input:hover{
    color: #7fada2;
    text-decoration: underline;
}

/* Стили для основного контента */
main{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 12vh;
    padding-left: 2vh;
    background: #062e24;
    color: #7fada2;
    min-height: 80vh;
}

/* Стили для footer, картинок VK, GitHub */
footer{
    font-family: 'Source Sans Pro', sans-serif;
    background: #0c6b52;
    color: #7fada2;
    height: 20vh;
    border-top: #7fada2 solid 0.15vh;
}

footer h2{
    font-weight: bolder;
}

.info_dev{
    padding-top: 2vh;
    padding-left: 2vh;
}

.VK{
    width: 5vh;
}

.GitHub{
    width: 4.5vh;
}

/* Стили для странички login */
.form{
    max-height: 60vh;
    max-width: 60vh;
    margin: 0 auto;
    border: #7fada2 solid 0.15vh;
    border-radius: 2vh;
    background: #0c6b52;
}

.form input{
    display: block;
    margin: 4vh auto 3vh auto;
    border: none;
}

#Login, #Password{
    width: 30vh;
    height: 4vh;
    border-radius: 1vh;
}

.log{
    max-width: 12vh;
    max-height: 12vh;
    margin: 1vh auto auto auto;
    font-weight: bolder;
    font-size: 5vh;
}

.login-parent{
    margin-top: 10vh;
}

.Login_button{
    background: #062e24;
    color: #7fada2;
    width: 10vh;
    height: 4vh;
    border-radius: 1vh;
}

.Login_button:hover{
    color: #0c6b52;
}

#Error{
    max-width: 30vh;
    max-height: 12vh;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    color: darkred;
}

/* Стили для странички регистрации */
.reg{
    max-width: 26vh;
    max-height: 12vh;
    margin: 1vh auto auto auto;
    font-weight: bolder;
    font-size: 5vh;
}

.Reg_button{
    background: #062e24;
    color: #7fada2;
    width: 20vh;
    height: 4vh;
    border-radius: 1vh;
}

.Reg_button:hover{
    color: #0c6b52;
}

.registration-parent{
    margin-top: 10vh;
}