/* Стили для шапки сайта */
.Input{
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 3.5vh;
    padding-right: 4vh;
    display: inline-block;
    float: right;
}

.Logo{
    font-family: 'Splash', cursive;
    font-size: 1.6rem;
    padding: 3vh;
    display: inline-block;
}

.Menu{
    background: #0c6b52;
    border-bottom: #7fada2 solid 0.15vh;
    position: fixed;
    width: 100%;
}

.Menu a{
    text-decoration: none;
    color: #7fada2;
}

.Logo a:hover{
    color: #7fada2;
}

.Input:hover{
    color: #7fada2;
    text-decoration: underline;
}

/* Стили для основного контента */
main{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 12vh;
    padding-left: 2vh;
    background: #062e24;
    color: #7fada2;
    min-height: 80vh;
    padding-bottom: 4vh;
}

/* Стили для footer, картинок VK, GitHub */
footer{
    position: absolute;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background: #0c6b52;
    color: #7fada2;
    height: 20vh;
    border-top: #7fada2 solid 0.15vh;
}

footer h2{
    font-weight: bolder;
}

.info_dev{
    padding-top: 2vh;
    padding-left: 2vh;
}

.VK{
    width: 5vh;
}

.GitHub{
    width: 4.5vh;
}

/* Стили для странички login */
.form{
    max-height: 60vh;
    max-width: 60vh;
    margin: 0 auto;
    border: #7fada2 solid 0.15vh;
    border-radius: 2vh;
    background: #0c6b52;
}

.form input{
    display: block;
    margin: 4vh auto 3vh auto;
    border: none;
}

#Login, #Password{
    width: 30vh;
    height: 4vh;
    border-radius: 1vh;
}

.log{
    max-width: 12vh;
    max-height: 12vh;
    margin: 1vh auto auto auto;
    font-weight: bolder;
    font-size: 5vh;
}

.login-parent{
    margin-top: 10vh;
}

.Login_button{
    background: #062e24;
    color: #7fada2;
    width: 10vh;
    height: 4vh;
    border-radius: 1vh;
}

.Login_button:hover{
    color: #0c6b52;
}

#Error{
    max-width: 30vh;
    max-height: 12vh;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    color: darkred;
}

/* Стили для странички регистрации */
.reg{
    max-width: 26vh;
    max-height: 12vh;
    margin: 1vh auto auto auto;
    font-weight: bolder;
    font-size: 5vh;
}

.Reg_button{
    background: #062e24;
    color: #7fada2;
    width: 20vh;
    height: 4vh;
    border-radius: 1vh;
}

.Reg_button:hover{
    color: #0c6b52;
}

.registration-parent{
    margin-top: 10vh;
}

/* Стили для кнопок в личном кабинете */
.users_button a{
    background: #7fada2;
    display: block;
    width: 30vh;
    margin-top: 2vh;
}

/* Стили панели супер-пользователя */
.rename_cat{
    border-top: #7fada2 solid 0.15vh;
}

.rename_cat input{
    display: block;
    margin-top: 2vh;
}

.Error_block{
    margin-top: 2vh;
    color: darkred;
    margin-bottom: 2vh;
}

.deleteUser{
    border-top: #7fada2 solid 0.15vh;
}

.deleteUser input{
    display: block;
    margin-top: 2vh;
}

#button_supuser{
    background: #7fada2;
    color: #062e24;
    border-color: #7fada2;
    border-radius: 0.5vh;
}

#button_supuser:hover{
    background: #062e24;
    color: #7fada2;
    border-color: #7fada2;
}

/* Стили списка пользователей в панели superuser */
#list_user{
    margin-top: 2vh;
    border-top: #7fada2 solid 0.15vh;
}

#list_user ul li h3{
    display: inline-block;
    margin-right: 5vh;
    width: 50vh;
    padding-left: 1vh;
    padding-top: 0.5vh;
}

#list_user ul li{
    background: #0c6b52;
    width: 120vh;
    list-style: none;
    border: #7fada2 solid 0.15vh;
    margin-top: 1vh;
    border-radius: 1vh;
}

#list_user h2{
    margin-bottom: 2vh;
}

/* Стили панеди администратора */
.appBooks{
    margin-top: 4vh;
    border-top: #7fada2 solid 0.15vh;
}

.appBooks label{
    display: block;
    margin-top: 4vh;
    width: 45vh;
}

.appBooks input{
    display: block;
    margin-left: auto;
    width: 30vh;
}

.appBooks textarea[name^="content"]{
    min-height: 30vh;
    display: block;
    margin-left: auto;
    width: 30vh;
}

.appBooks input[name^="button_append_book"]{
    margin-left: 15vh;
    margin-top: 5vh;
    background: #0c6b52;
    color: #7fada2;
    border-color: #0c6b52;
}

.appBooks input[name^="button_append_book"]:hover{
    background: #062e24;
    color: #7fada2;
    border-color: #7fada2;
}

#error_book{
    margin-top: 2vh;
}

/* Стили списка книг */
#list_book{
    margin-top: 2vh;
    border-top: #7fada2 solid 0.15vh;
}

#list_book ul li h3{
    display: inline-block;
    margin-right: 5vh;
    width: 60vh;
    padding-left: 1vh;
    padding-top: 0.5vh;
}

#list_book ul li{
    background: #0c6b52;
    width: 145vh;
    list-style: none;
    border: #7fada2 solid 0.15vh;
    margin-top: 1vh;
    border-radius: 1vh;
}

#list_book h2{
    margin-bottom: 2vh;
}

/* Стили кнопки удаления книги */
#delete_book_button{
    background: darkred;
    border-color: darkred;
    color: #7fada2;
    width: 10vh;
    height: 4vh;
}

#delete_book_button:hover{
    background: #0c6b52;
    color: darkred;
}

/* Стили блока ошибка списка книг */
#error_list_books{
    color: darkred;
    margin-left: 4vh;
    margin-top: 4vh;
}

/* Стили книг на главной странице */
.book{
    text-align: center;
    display: inline-block;
    border: #7fada2 solid 0.15vh;
    width: 39vh;
    height: 75vh;
    background: #0c6b52;
    margin-right: 5vh;
    margin-top: 2vh;
    border-radius: 1vh;
}

.bookButton{
    width: 40vh;
}

.frame_img{
    border-radius: 1vh;
    border-bottom: #7fada2 solid 0.15vh;
    margin: 0 auto;
    width: 38.5vh;
}

.frame_img img{
    border-radius: 1vh;
    width: 100%;
    height: 60vh;
}

.book a{
    background: #062e24;
    color: #7fada2;
}

.book a:hover{
    border-color: #062e24;
    color: #062e24;
}

/* Стили странички книги */
.book_info{
    min-height: 60vh;
}

.book_info p{
    padding-right: 1vh;
    text-align: justify;
    overflow: scroll;
    max-height: 42vh;
}

.book_info h2{
}

.frame_info_book{
    margin-right: 1vh;
    border-radius: 1vh;
    float: left;
    border: #7fada2 solid 0.15vh;
    width: 40vh;
}

.downloadBook{
    width: 100%;
}

.frame_info_book img{
    border-radius: 1vh;
    width: 100%;
}

.downloadBook a{
    background: #7fada2;
}

.downloadBook h4{
    color: darkred;
}